@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;400;500&display=swap');

* , h1, h2, h3, h4, h5, h6, p{
    font-family: 'Mali', cursive !important;
    font-weight: 400 !important;
}

.fw-500{
    font-weight: 500 !important;
}